
/* Form wrapper styling */
.form-wrapper {
    width: 500px;
    height:40px;
    padding:1px;
    border:1px solid black;
}

/* Form text input */
.form-wrapper input {
    width: 89%;
    height:95%;
    float: left;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background:white;    
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 8%;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    text-transform: uppercase;
    background: white;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
.form-wrapper button:hover{    
    
}  
.form-wrapper img{
    margin:7px 0 0 0;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    